127.0.0.1 localhost
{% for host in groups['all'] if ('ansible_'+iface) in hostvars[host] %}
{{ hostvars[host]['ansible_' + iface].ipv4.address }}  {{ host }} {{ hostvars[host].ansible_hostname }}
{% endfor %}
